<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/encounterplanner/src/org/devoware/table/weather/ClimateCategory.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.devoware.table.weather.ClimateCategory$3"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="encounterplanner"/>
</launchConfiguration>
